@import "variables.scss";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/* NAVBAR */

.navbar,
footer {
    background-color: rgb(65, 158, 65);
}

.navbar-brand {
    font-size: 50px;
    color: white;
}

i {
    color: black;
}

.navbar-brand .fa-cat {
    font-size: 28px;
}

.navbar-brand .fa-dog {
    font-size: 40px;
}

.navbar-nav .nav-link.active,
span {
    color: rgb(148, 148, 237);
}

/* FOOTER */