/* NAVBAR */

@import "variables.scss";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.navbar,
footer {
    background-color: $orange;

    .navbar-brand {
        font-size: 50px;
        color: white;
    }

    i {
        color: black;
    }

    .navbar-brand .fa-cat {
        font-size: 28px;
    }

    .navbar-brand .fa-dog {
        font-size: 40px;
    }

    .navbar-nav,
    span {
        // color: rgb(34 34 132);
        color: black;
    }

    .nav-link.active {
        text-decoration: underline;
    }
}